DNS_NAME=dns-name
DNS_MAIL=mail-dns-name
DNS_IP=10.0.0.1

SSL_CERTIFICATE=path/ssl.crt
SSL_CERTIFICATE_KEY=path/ssl.key
PROXY_PASS=

MAIL=example@mail.com
HOSTNAME=your-hostname
AUTHUSER=mail-username
AUTHPASS=mail-app-password

